.list-container {
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
    max-height: 9000px;
    transition: all .3s ease-in-out;
    overflow-y:visible;
    margin-bottom:4rem;
}

.list-item-placeholder {
    height: 60px;
    background-color: var(--accent);
    border-radius: 4px;
    margin: -4px 0;
    pointer-events: none;
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.3s ease;
    transition-delay: .5s;
}

.list-item-placeholder.fade-out {
    opacity: 0;
    transform: scaleY(0);
    margin: 0;
    height: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

.list-item-wrapper {
    position: relative;
    transition: all .3s ease-in-out;
    transform-origin: top left;
    display: grid;
    grid-template-columns: 55px 8fr .5fr;
    padding-block: .5rem;

    &.dragging {
        opacity: 0.5;
        z-index: 10;
    }
    &.fade-out {
        opacity: 0;
        transform: scale(0.9);
    }
    &.fade-in {
        animation: fadeIn 0.2s ease;
    }
    
    .list-item__input {
        border: 1px solid var(--accent);
        padding-block: .75rem;
        padding-inline: .75rem;
        font-size: 1.15rem;
        border-radius:.25rem;
    }

    svg {
        width: 100%;
        height: 100%;
        fill: #575757;
    }

    button {
        background: transparent;
        border: none;
        padding: .25rem;
        cursor: pointer;


        
    }

    .list-item__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline:.5rem 0;

        svg {
            width: 25px;
            height: 25px;
            fill: var(--accent);
        }

        .list-item__add {
            svg {
                fill: #cccc;
            }
        }

    }

    .list-item__handle-container {
        display: flex;
        align-items: center;
    }

    
}