.list-container {
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
    max-height: 9000px;
    transition: all .3s ease-in-out;
    overflow-y:visible;
}

.list-item-placeholder {
    height: 60px;
    border: 2px dashed #003e53;
    border-radius: 4px;
    pointer-events: none;
    animation: fadeIn 0.2s ease;
    transition: all .3s ease-in-out;
}

.list-item-placeholder.fade-out {
    opacity: 0;
    /*animation: fadeOut 0.3s ease-in-out;*/
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

.list-item-wrapper {
    position: relative;
    transition: all .3s ease-in-out;
    transform-origin: top left;
    display: grid;
    grid-template-columns: 35px 8fr 1fr;
    padding-block: .5rem;

    &.dragging {
        opacity: 0.5;
        z-index: 10;
    }
    &.fade-out {
        opacity: 0;
        transform: scale(0.9);
    }
    &.fade-in {
        animation: fadeIn 0.2s ease;
    }
    
    .list-item__input {
        border: 1px solid #777777;
        padding-block: .75rem;
        padding-inline: .75rem;
        font-size: 1.15rem;
    }

    svg {
        width: 25px;
        height: 25px;
        fill: #ffffff;
    }

    button {
        background: transparent;
        border: none;
        padding: .25rem;
        cursor: pointer;
    }

    .list-item__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .list-item__handle-container {
        display: flex;
        align-items: center;
    }

    
}